# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.Heapy.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../:\GIT\Heapy\.idea\.idea.Heapy\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
